@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To-do CRUD</title>
    <style>

        input[type='submit'], button, [aria-label] {
            cursor: pointer;
        }

        #spoiler {
            display: none;
        }

        table {
            font-family: Arial, sans-serif;
            border: 1px solid;
            border-collapse: collapse;
        }

        th {
            background-color: #0066CC;
            color: white;
        }

        td {
            border: 1px solid;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>To-do CRUD</h1>
    <h3>Add</h3>
    <form action="javascript:void(0);" method="POST" onsubmit="addItem()">
        <input type="text" id="add-name" placeholder="New to-do">
        <input type="submit" value="Add">
    </form>
    <div id="spoiler">
        <h3>Edit</h3>
        <form class="my-form">
            <input type="hidden" id="edit-id">
            <input type="checkbox" id="edit-isComplete">
            <input type="text" id="edit-name">
            <input type="submit" value="Save">
            <a onclick="closeInput()" aria-label="Close">&#10006;</a>
        </form>
    </div>
    <p id="counter"></p>
    <table>
        <tr>
            <th>Is Complete</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        <tbody id="todos"></tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script>
        function getData() {
            $.ajax({
                type: "GET",
                url: "https://localhost:5001/api/User/GetUsers?APIKey=5567GGH7225ASW890",
                cache: false,
                success: function (data) {
                    console.log(data);
                    debugger
                    const tBody = $("#todos");

                    $(tBody).empty();

                    getCount(data.length);

                    $.each(data, function (key, item) {
                        const tr = $("<tr></tr>")
                            .append(
                                $("<td></td>").append(
                                    $("<input/>", {
                                        type: "checkbox",
                                        disabled: true,
                                        checked: item.name
                                    })
                                )
                            )
                            .append($("<td></td>").text(item.name))
                            .append(
                                $("<td></td>").append(
                                    $("<button>Edit</button>").on("click", function () {
                                        editItem(item.id);
                                    })
                                )
                            )
                            .append(
                                $("<td></td>").append(
                                    $("<button>Delete</button>").on("click", function () {
                                        deleteItem(item.id);
                                    })
                                )
                            );

                        tr.appendTo(tBody);
                    });

                    todos = data;
                }
            });
        }
    </script>
</body>
</html>
